{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        },
        "useBuiltIns": "usage",
        "shippedProposals": true
      }
    ]
  ],
  "plugins": ["add-module-exports"]
}
