version: 2.0
jobs:
  lint:
    docker:
      - image: cimg/go:1.21-node
    steps:
      - run: node --version
      - run: npm --version
      - run: yarn --version
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v2-{{ .Branch }}-
            - yarn-packages-v2-master-
            - yarn-packages-v2-
      - run: yarn --ignore-engines
      - run: yarn run build
      - save_cache:
          paths:
            - ~/.cache/yarn
            - ./node_modules
          key: yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run: yarn run lint
  test-unit:
    docker:
      - image: cimg/go:1.21-node
    steps:
      - run: node --version
      - run: npm --version
      - run: yarn --version
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v2-{{ .Branch }}-
            - yarn-packages-v2-master-
            - yarn-packages-v2-
      - run: yarn --ignore-engines
      - run: yarn run build
      - save_cache:
          paths:
            - ~/.cache/yarn
            - ./node_modules
          key: yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run: DEBUG="sqip*,jest*" yarn run test:unit -- --verbose
      - run: yarn codecov
  test-e2e:
    docker:
      - image: cimg/go:1.21-node
    steps:
      - run: node --version
      - run: npm --version
      - run: yarn --version
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v2-{{ .Branch }}-
            - yarn-packages-v2-master-
            - yarn-packages-v2-
      - run: yarn --ignore-engines
      - run: yarn build
      - save_cache:
          paths:
            - ~/.cache/yarn
            - ./node_modules
          key: yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run: yarn run test:e2e
  demo:
    docker:
      - image: cimg/go:1.21-node
    steps:
      - run: node --version
      - run: npm --version
      - run: yarn --version
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v2-{{ .Branch }}-
            - yarn-packages-v2-master-
            - yarn-packages-v2-
      - run: yarn --ignore-engines
      - run: yarn build
      - save_cache:
          paths:
            - ~/.cache/yarn
            - ./node_modules
          key: yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run: cd demo && yarn build:dataset
      - run: cd demo && yarn build:html
      - store_artifacts:
          path: /home/circleci/project/demo/public
          destination: demo
workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - test-unit
      - test-e2e
      - demo
